@import "http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Raleway:400,700,600|Kurale";

@font-face {
  font-family: 'Sketchy';
  src: url('../fonts/sketchy.ttf');
}

@font-face {
  font-family: 'Chunkfive';
  src: url('../fonts/Chunkfive-webfont.woff');
}