

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10{
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  padding-top: .5vh;
  padding-bottom: .5vh;
  padding-right: .5vh;
  padding-left: .5vh;
  box-sizing: border-box;
  vertical-align: top;
  
}

.col-1{
  width: 9.4%;
}

.col-2{
  width: 18.8%;
}

.col-3{
  width: 28.2%;
}

.col-4{
  width: 37.6%;
}
.col-5{
  width: 47%;
}

.col-6{
  width: 56.4%;
}
.col-7{
  width: 65.8%;
}

.col-8{
  width: 75.2%;
}
.col-9{
  width: 84.6%;
}

.col-10{
  width: 94%;
}

