.wrapper{
  position: relative;
  width: 100%;

}

.row{
  position: relative;
  width: 100%;
  margin-top: .5vh;
  margin-bottom: .5vh;
  margin-right: .5vh;
  margin-left: .5vh;
  padding-top: .5vh;
  padding-bottom: .5vh;
  padding-right: .5vh;
  padding-left: .5vh;
}